<div class="product-info">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "sku" %}
        <p class="product-sku">{{- product.selected_or_first_available_variant.sku | prepend: "Cód: " -}}</p>
      {% when "title" %}
        <h1 class="product-title">{{ product.title | escape }}</h1>
      {% when "price" %}
        <div class="product-price">
          {% if product.compare_at_price > product.price %}

            {% assign percentage_price = product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0' %}

            <span class="compare-price">
                <s>{{ product.selected_or_first_available_variant.compare_at_price | money }}</s>
                <span class="price-percentage">({{ percentage_price }}% Off)</span>
            </span>
          {% endif %}
          <span class="current-price">
            {{- product.selected_or_first_available_variant.price | money -}}
          </span>
        </div>
      {% when "variant_picker" %}
        {% form 'product', product %}
          <input
            id="product-id"
            type="hidden"
            name="id"
            value="{{product.selected_or_first_available_variant.id}}">
          {% if product.variants.size > 1 %}
            <div class="product-options">
              {% for option in product.options_with_values %}
                <div class="product-option-list">
                  <div class="product-options-title">
                    {{ option.name }}:<span>{{ option.selected_value }}</span>
                  </div>
                  <ul class="product-option-values">
                    {% for value in option.values %}
                      <li class="product-option-value">
                        <input
                          {% if option.selected_value == value %}
                          checked
                          {% endif %}
                          type="radio"
                          name="{{ option.name }}"
                          value="{{ value }}"
                          data-swatch-color="{{value.swatch.color}}"
                          hidden
                          id="{{ option.name | handleize }}-{{ value| handleize }}">
                        {% if value.swatch.image %}
                        <label for="{{ option.name | handleize }}-{{ value| handleize }}" class="product-option-value__swatch" {% if forloop.first %} style="border-color: {{value.swatch.color}};"{% endif %}>
                            <img src="{{ value.swatch.image | image_url }}" alt="">
                          </label>
                        {% else %}
                          <label for="{{ option.name | handleize }}-{{ value| handleize }}"class="product-option-value__pills">{{ value.name }}</label>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <button class="btn add-to-cart">Add to cart</button>
        {% endform %}
    {% endcase %}
  {% endfor %}
</div>
